body{
    margin: 0;
    padding: 0;
    height: 100%;
}
div{
    background-color: aqua;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: red;
    font-size: xx-large;
}